nav {
    @apply flex items-center justify-between flex-wrap bg-teal-500 pl-6 shadow-md relative;
    @screen md {
        @apply pr-6;
    }
    > .brand {
        @apply flex items-center flex-shrink-0 text-white mr-6 py-2;
        @screen md {
            @apply py-0;
        }
        > span {
            @apply font-semibold text-xl tracking-tight;
        }
    }
    > .menu {
        @apply float-right text-teal-100 py-2 hidden;
        @screen md {
            @apply block;
        }
        > a {
            &:not(:first-child) {
                @apply ml-2;
            }
            &:hover {
                @apply text-gray-200 cursor-pointer;
                > span {
                    @apply underline;
                }
            }
        }
        > ul {
            @apply absolute bg-white right-0 text-gray-800 hidden;
            top: 40px;
            > li {
                > a {
                    @apply block py-2 px-3 text-sm;
                    &:hover,
                    &.router-link-exact-active {
                        &:not(.disabled) {
                            @apply cursor-pointer bg-gray-200;
                        }
                    }
                }
                &.separator {
                    @apply border-b border-gray-300;
                }
            }
        }
        &:hover  {
            > ul {
                @apply block;
            }
        }
    }
    > .toggle {
        @apply float-right text-teal-100 block py-3 text-center;
        width: 46px;
        height: 46px;
        @screen md {
            @apply hidden;
        }
        &:hover {
            @apply bg-teal-600 cursor-pointer;
        }
    }
}