.sidebar {
    @apply bg-gray-100 hidden w-0 shadow-md;
    &.active {
        @apply w-full block;
    }
    @screen md {
        @apply block shadow-none;
        min-width: 150px !important;
        width: 150px !important;
    }
    @screen lg {
        @apply block;
        min-width: 250px !important;
        width: 250px !important;
    }
    > ul {
        &:not(:first-child) {
            &::before {
                content: "";
                @apply bg-gray-300 absolute h-px;
                left: 5px;
                width: calc(100% - 10px);
                @screen md {
                    width: 140px;
                }
                @screen lg {
                    width: 240px;
                }
            }
        }
        > li {
            @apply w-full;
            > a {
                @apply block w-full pl-3 py-2 pr-4 text-gray-800;
                &:hover {
                    @apply cursor-pointer bg-gray-200;
                    > span {
                        @apply underline;
                    }
                }
                > i {
                    @apply h-4 w-4 mr-2;
                }
            }
        }
    }
}