.sidebar {
    @apply bg-gray-100 w-full;
    @screen md {
        width: 250px;
    }
    &.hidden {
        @apply w-0;
    }
    > ul {
        &:not(:last-child) {
            &::after {
                content: "";
                @apply bg-gray-400 absolute h-px;
                left: 5px;
                width: calc(100% - 10px);
                @screen md {
                    left: 5px;
                    width: 240px;
                }
            }
        }
        > li {
            @apply w-full;
            > a {
                @apply block w-full pl-3 py-2 pr-4;
                &:hover {
                    @apply cursor-pointer bg-gray-200;
                    > span {
                        @apply underline;
                    }
                }
                > i {
                    @apply h-4 w-4 mr-2;
                }
            }
        }
    }
}