.table {
    @apply block;
    > h1 {
        @apply text-xl mb-2 text-gray-800;
        @screen md {
            @apply float-left;
        }
    }
    > .search {
        @apply flex items-center border-b border-b border-gray-600 w-full mb-2;
        @screen md {
            @apply w-1/3 float-right;
        }
        @screen lg {
            @apply w-1/4;
        }
        &:hover {
            @apply border-teal-500;
        }
        > i {
            @apply text-gray-600;
        }
        > input {
            @apply appearance-none bg-transparent border-none w-full text-gray-800 mr-3 py-1 px-2 leading-tight;
            &:focus {
                @apply outline-none;
            }
        }
    }
    > .scroll {
        @apply overflow-x-auto w-full;
    }
    table {
        @apply table-auto;
        > thead {
            > tr {
                > th {
                    @apply px-4 py-2;
                }
            }
        }
        > tbody {
            > tr {
                > td {
                    @apply border;
                    &:first-child {
                        border-left: none;
                    }
                    &:last-child {
                        border-right: none;
                    }
                    > a {
                        @apply block px-4 py-2;
                        > span {
                            @apply w-full;
                        }
                        > small {
                            @apply block text-gray-700;
                        }
                    }
                }
                &:last-child {
                    > td {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}