body.layout.layout-empty {
    > div#app {   
        @apply bg-teal-600 pt-8 pb-8;
        background: url('/images/background.png') no-repeat center center fixed;
        @screen sm {
            @apply pt-12;
            background: url('/images/background_md.png') no-repeat center center fixed;
        }
        @screen md {
            @apply pt-16;
            background: url('/images/background_md.png') no-repeat center center fixed; 
        }
        @screen lg {
            @apply pt-32;
        }
        @apply bg-cover;
        main {
            @apply bg-gray-200 shadow-md w-11/12 px-8 pt-6 pb-4 mx-auto;
            > h1 {
                @apply text-center text-2xl mb-2 text-gray-600;
            }
            > small {
                @apply text-gray-500 text-center block mt-2;
            }
            @screen sm {
                @apply w-3/4;
            }
            @screen md {
                @apply w-2/3;
                
            }
            @screen lg {
                @apply w-1/3;
            }
        }
    }
}